html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: Arial, sans-serif;
  background-color: #e6a2d1; 
}

.topnav {
  overflow: hidden;
  background-color: grey;
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  margin-left: 200px;
}

.topnav a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: yellow;
  text-decoration: none;
  font-size: 18px;
}

.topnav a:hover {
  background-color: #e72323;
  color:#5c09d7;
}
.topnav a.active {
  background-color: #e72323;
  color: black;
}

  .sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0e0e11;
  }

  .sidebar a {
    padding: 10px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
  }

  .sidebar a:hover {
    background-color: #e72323;
    color: black;
  }

main, footer {
  margin-left: 200px;
  padding: 20px;
  background-color: #eca7ec;
}
footer {
  background-color: #e6a2d1;
  color: white;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 70px;
}

button {
  background-color: #236ee7;
  color: white;
  border: none;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 10px;
  margin-bottom: 50px;
  transition: backgroud-color 0.3s ease;
  border-radius: 12px;
}

button:hover {
  background-color: #1fecef;
  
}

h1 {
  color: bisque;
  font-family: Sofia, sans-serif;
  font-size: 50px;
}
p {
  color: #1de60f;
  font-size: 25px;
}

#content {
  background-color: #e6d6e1;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#content p {
  color: yellow;
  font-size: 10px;
}

#content img {
  display: block;
  border-radius: 12px;
  margin: 0 auto;
}

#tabula {
  background-color: #e6d6e1;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#canva {
  background-color: #e6d6e1;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

#tabula table {
  width: 100%;
  border-collapse: collapse;
  background-color: wheat;
}

#tabula td {
  padding: 10px;
  border: 1px solid black;
  text-align: center;
  color: ;
}

#tabula tr:nth-child(1) {
  background-color: #f2f2f2;
  }
#tabula tr:nth-child(4) {
  background-color: #f2f2f2;
  }
